.c-features__image {
    max-height: 176px;
    object-fit: contain;
}

@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  .move-up-down {
    transform: translateY(-15.9587px) translateZ(0px);
    /* display: inline-block; */
    animation: moveUpDown 5s infinite;
  }

  .container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl {
    --bs-gutter-x: 2rem;
}

.container-md {
    max-width: 960px
}

.container-sm {
    max-width: 720px
}

