.c-exchange__swap {
    width: 59px !important;
    height: 56px !important;
    border: none !important;
}

.c-exchange__input {
    cursor: pointer;
    border: 1px solid #343445;
    transition: all .35s ease
}

.form-control:active,.form-control:focus,.form-control:hover,.form-select:active,.form-select:focus,.form-select:hover,input:active,input:focus,input:hover,select:active,select:focus,select:hover {
    border-color: #8671ff;
    background-color: #16161c;
    outline: 0;
    box-shadow: none
}
