  .c-supportedLogos-wrapper {
    overflow: hidden;
    position: relative;
    width: calc(200%);
    white-space: nowrap;
    height: var(--logo-width);
    --number-of-logos: 14;
    --logo-width: 80px;
    --logo-slider-width: calc(((var(--logo-width) + 3rem)* var(--number-of-logos)));
  }

  .c-supportedLogos-wrapper:hover .c-supportedLogos {
      animation-play-state: paused;
  }

  .c-supportedLogos img {
    margin: 0 1.5rem;
    width: var(--logo-width);
    height: var(--logo-width);
    flex-shrink: 0;
  }

  .c-supportedLogos {
    display: flex;
    animation: scroll 3s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  